@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #3F656B;
    --secondary: #F2C78F;
    --secondary-hover: rgba(242, 199, 143, 0.7);
    --bg-color: #f1e8de;
    --txt: #101516;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.02em;
    word-spacing: 0.1em;
    background-color: var(--bg-color);
}

.btn {
    padding: 0.8rem 2.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary);
    color: #fff;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: inherit;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: var(--secondary-hover);
}